h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:50px;
  border-radius:20px;
  padding: 10px;
  background-color:#c6fff7;
  
 }

 h2{
  font-size:40px;
  text-align:center;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

 .shop-container{
   font-size:50px;
   display:flex;
   justify-content:center;
   align-items:center;
   flex-direction:column;
   margin-top:10px;
 }
 .list-1{
  background-color: lightblue;
  border-radius:10px;
  width:255px;
  margin-top: 50px;
  margin-left:20%;
  font-size:20px;
  padding:10px;
  border: 1px dotted black;
   
}

.list-2{
  background-color: lightpink;
  border-radius:10px;
  width:255px;
  margin-top: 50px;
  margin-left:30%;
  font-size:20px;
  padding:10px;
  border: 1px dotted black;
   
}

.list-3{
  background-color: lightgreen;
  border-radius:10px;
  width:255px;
  margin-top: 50px;
  margin-left:30%;
  font-size:20px;
  padding:10px;
  border: 1px dotted black;
   
}
button{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color:lightgrey;
  border: white black;
  height: 60px;
  width: 150px;
}

ul{
  list-style-type:none;
}

p{
  display: flex;
  justify-content: left;
  align-items: center;
}